body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
    font-family: Arial, sans-serif;
    color: #fff;
    transition: background-color 0.5s ease, color 0.5s ease; 
}

body.dark-mode {
    background: linear-gradient(135deg, #000 0%, #333 100%); 
        color: #fff;
}

body.dark-mode .inicio-fim-content  {
    background-color: rgb(137, 137, 137); 
}

body.dark-mode .letra-cor {
    color: #000000; 
}

#openModalBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #ff6f61;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1000;
    width: auto; 
    max-width: 150px; 
    text-align: center;
}

body.dark-mode #openModalBtn {
    background-color: #444444;
    color: white;
}

#openModalBtn:hover {
    background-color: #ff4a3d;
    transform: translateY(-2px);
}

.inicio-fim-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.inicio-fim-content{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    text-align: center;
    animation: slideIn 0.5s ease-out;
}

.inicio-fim-content h1 {
    color: #2a5298;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.inicio-fim-content p {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.letra-cor {
    color: #3a3a3a;
}

.btn {
    display: table-column;
    padding: 12px 24px;
    background-color: #ff6f61;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #ff4a3d;
    transform: translateY(-2px);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsividade */
@media (max-width: 800px) {
    .inicio-fim-content {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        border-radius: 7.5px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        max-width: 250px;
        text-align: center;
        animation: slideIn 0.5s ease-out;
    }

    .inicio-fim-content h1 {
        color: #2a5298;
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    .inicio-fim-content p {
        color: #333;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .garoto {
        display: flex;
        width: 45%;
        display: block;
        left: auto;
    }
}


.btn {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 12px 24px;
    background-color: #ff6f61;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #ff4a3d;
    transform: translateY(-2px);
}
